div,
body,
html {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-box {
    flex: 1;
    overflow: auto;
    padding: 20px 10px;
    position: relative;
}

#dv {
    float: right;
}

.api-box {
    box-sizing: border-box;
    overflow: auto;
    width: 600px;
    padding: 20px;
}

#addDv {
    display: inline-block;
    color: blue;
    cursor: pointer;
    padding: 5px;
    user-select: none;
}

#genData {
    display: inline-block;
    color: blue;
    cursor: pointer;
    padding: 5px;
    user-select: none;
}

.add-box {
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
}

.add-box input {
    height: 30px;
    padding-left: 10px;
}

.add-box select {
    height: 30px;
    width: 150px;
}

.item-block {
    background: #d5c0ff40;
    margin-bottom: 20px;
    padding: 10px;
}

.item-block-item {
    display: inline-block;
    padding: 5px 10px;
    font-size: 22px;
}

.item-block-del {
    height: 30px;
}

.item-block-del span {
    float: right;
    user-select: none;
    cursor: pointer;
    background: #0095ff;
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.box {
    margin: 2px;
    display: flex;
    background: #d5c0ff40;
    align-items: center;
}

.item {
    width: 50px;
    display: inline-block;
    padding: 5px 5px;
}

.item-u {
    width: 300px;
}

.item-s {
    display: inline-block;
}

.item-img {
    display: inline-block;
    height: 36px;
}

.item-img img {
    display: block;
    height: 100%;
}

.displayMask,
.cationMask {
    position: fixed;
    top: 10px;
    left: 11px;
    background: #f6f6f6;
    width: 600px;
    height: 300px;
    padding: 20px;
    box-shadow: 2px 2px 7px #252525;
}

.displayMask select {
    margin-bottom: 20px;
}

.displayMask input,
.cationMask input {
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.displayMaskHihhen {
    display: none;
}

#displayOk {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    background: #0095ff;
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
}

.cationMaskHidden {
    display: none;
}

.cationMaskBtn {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    background: #0095ff;
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
}